<div class="tile" (click)="onTileClick()">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
    <g [style.transform]="'rotate(' + rotation + 'deg)'">      <ng-container [ngSwitch]="pattern">
        <!-- Curved Pattern -->
        <ng-container *ngSwitchCase="'curve'">
          <path class="tile-path" d="M0,50 A50,50 0 0,0 50,0"/>
          <path class="tile-path" d="M50,100 A50,50 0 0,1 100,50"/>
        </ng-container>        <!-- Triangular Pattern -->
        <ng-container *ngSwitchCase="'triangle'">
          <!-- Added 0.5 overlap to eliminate gaps -->
          <path class="tile-path filled-path" d="M-0.5,-0.5 L100.5,-0.5 L-0.5,100.5 Z"/>
        </ng-container>
      </ng-container>
    </g>
  </svg>
</div>
